body{
    margin: 0px auto;
    padding: 0px;
}

.Main{
    width: 770px;
    height: auto;
    float: left;
}

.main1{
    width: 770px;
    height: 50px;
    background: #FFD900;
    float: left;
    margin-bottom: 10px;
}

.main2{
    width: 100px;
    height: 250px;
    background: #FFD900;
    float: left;
    margin-right: 10px;
}

.main3{
    width: 550px;
    height: 250px;
    background: #FFD900;
    float: left;
    margin-right: 10px;
}

.main4{
    width: 100px;
    height: 250px;
    background: #FFD900;
    float: left;
}

.main5{
    width: 770px;
    height: 50px;
    background: #FFD900;
    float: left;
    margin-top: 10px;
}